@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: rgb(0, 0, 0);
  --background-start-color: rgb(245, 255, 254);
  --background-end-color: rgb(255, 255, 255);
  --background-alt-color: beige;
  --button-color: rgb(92, 182, 230);
  --links-color: rgb(0, 130, 200);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgb(255, 255, 255);
    --background-start-color: 0, 0, 0;
    --background-end-color: 0, 0, 0;
    --background-alt-color: rgb(68, 68, 68);
    --button-color: rgb(92, 182, 230);
    --links-color: rgb(0, 130, 200);
  }
}

body {
  color: var(--text-color);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-color)
    )
    var(--background-start-color);
}

a {
  color: rgb(var(--links-color));
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
