@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: rgb(0, 0, 0);
  --background-start-color: rgb(214, 247, 255);
  --background-end-color: rgb(255, 255, 255);
  --background-alt-color: beige;
  --button-color: rgb(6, 71, 106);
  --background-button-color: rgb(147, 215, 230);
  --links-color: rgb(0, 130, 200);
  --links-hover-color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgb(255, 255, 255);
    --background-start-color: rgb(0, 0, 0);
    --background-end-color: rgb(0, 0, 0);
    --background-alt-color: rgb(68, 68, 68);
    --button-color: rgb(222, 243, 255);
    --background-button-color: rgb(46, 149, 205);
    --links-color: rgb(84, 168, 212);
    --links-hover-color: var(--text-color);
  }
}

body {
  color: var(--text-color);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-color)
    )
    var(--background-start-color);
  letter-spacing: 0.01em;
  overscroll-behavior: none;
}

a {
  cursor: pointer;
  color: var(--links-color);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

a:hover,
a:active,
a:focus {
  color: var(--links-hover-color);
}

input {
  color: var(--text-color);
  background-color: var(--background-end-color);
  padding: 0.3rem 0.7rem;
  border-radius: 0.125rem;
}

input[type="submit"] {
  cursor: pointer;
  background-color: var(--background-button-color);
  color: var(--button-color);
}

input[type="reset"] {
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--background-end-color);
}

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
  outline: 2px solid var(--button-color);
}

input[type="reset"]:hover {
  outline: 2px solid var(--text-color);
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 500;
}

h2 {
  font-size: 1.1rem;
  line-height: 1.1;
  letter-spacing: 0;
}

h5 {
  font-size: 0.85em;
  font-weight: 700;
}

small {
  font-size: 0.7em;
}
